bin/lib/libglad.so
bin/lib/libtiny_window.so
bin/lib/libtiny_shader.so
bin/lib/libtiny_texture.so
bin/lib/libtiny_mesh.so
bin/lib/libtiny_image.so
bin/lib/libtiny_linear.so
bin/lib/libtiny_common.so
bin/test/glfw_callback
bin/test/glfw_getkey
bin/test/vao_vbo
bin/test/glm_matrix
bin/main/render
scripts/__pycache__
